/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2aa768;
    padding: 20px;
    /* Estilos adicionales para el encabezado */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para secciones */
section {
    padding: 50px 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #d1fdff;
    text-align: center;
    padding: 10px 0;
}
